*{
    font-family: 'Montserrat', sans-serif;
}

.Navbar{

    background-color: #4a148c;
}
.log-history{

    padding: 7px;
    font-size: 13px;
}
.modal-trigger{

    font-size: 17px;
}

/* buttons */
.add-btn{

    background-color: #4a148c;
}
.add-lst-dev,.add-dev{
    background-color: gray;
}
.srch-btn,.close-btn{
    color: gray ;
}
.del-btn{
    color: #ff1818;
}

