*{
    font-family: 'Montserrat', sans-serif;
}

.Navbar{

    background-color: #2B2A4C;
}
.log-history{

    padding: 7px;
    font-size: 13px;
}
.modal-trigger{

    font-size: 17px;
}
.add-btn{

    background-color: #2B2A4C;
}
.add-lst-dev,.add-dev{
    background-color: #edbdae;
}
.srch-btn,.close-btn{
    color: #edbdae;
}
.del-btn{
    color: #ff1818;
}
